# mac 
.DS_Store

# don't ignore myself!
!.gitignore
 
# Visual Studio
bin/
csx/
obj/
rcf/
.publishsettings
*.suo
*.user
*.backup.*
packages/
 
# ReSharper
_ReSharper*/

# WebStorm
.idea/
 
# NCrunch
*ncrunch*

# Node
node_modules/

# Bower
src/3rd/

# Build
dist/
