html, body {
    font-size: 15px;
}

body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    color: #555555;
    text-rendering: optimizeLegibility;
}

#t .container {
    width: auto;
    margin-right: 150px;
    margin-left: 300px;
}

#t .side-menu {
    position: absolute;
    margin: 0;
    top: 4.5rem;
    left: 0;
    width: 275px;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-y: auto;
    overflow-y: auto;
}

#t .side-menu .item > i.icon {
    float: none;
    margin: 0 .83em 0 0;
}

#t .top-menu {
    border-radius: 0 !important;
}

#t .top-menu .item {
    padding: 1.75em .95em;
}

#debug {
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    display: none;
}

.group-editor ul,
.participant-label-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: 200px;
}

.participant-label-list li {
    display: inline;
}

.participant-label {
    margin: 0 5px 5px 5px;
    padding: 5px;
    width: 120px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.group-editor {
    border: 1px solid red;
    float: left;
    width: 200px;
}

.bracket {
    position: relative;
    display: block;
    overflow: hidden;
}

.round-bracket {
    float: left;
}
.round-header {
    border: 1px solid #000000;
    text-align: center;
    line-height: 20px;
}
.team-bracket ul {
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.team-bracket .participant-label {
    margin: 0;
    padding: 0;
    width: 120px;
}

.team-bracket .valid {
    background-color: green;
}

.team-bracket .test-class:not(:only-child) {
    display: none;
}

.team-bracket .test-class {
    height: 10px;
}

.team-bracket
{
    position: absolute;
    font-size: 10px;
    border-spacing: 0;
    border: 1px solid #000000;
}

.team-bracket td
{
    height: 50%;
}

.team-bracket .top
{
    border-top: 1px solid #505050;
}
.team-bracket .left
{
    border-left: 1px solid #505050;
    width: 25px;
}